.about-container {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.cart-container {
    border: none;
}

.cart-img {
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}